/* make the customizations */
$theme-colors: (
        "primary": #6b63ff,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";

* {
        padding: 0;
        margin: 0;
    }
    
    // section {
    //     min-height: 100vh;
    // }
    // a {
    //     color: black;
    //     text-decoration: none;
    // }
    
    .navbar {
        height: 77px;
    } 
    
    button {
        height: 50px;
    }
    
    .signup {
        color: white;
    }
    // .nav-link {
    //     color: black;
    // }